# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Code Editors
/.idea
/.vscode
/.vs
/*.csproj
/*.sln
*.swp
*.vcxproj.user
/obj

# Unity
/Library
/Temp

# Visual Studio
/Plugin/Windows/.vs
/Plugin/Windows/x64

# Xcode
xcuserdata
xcshareddata
